* {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(255, 234, 118);
    font-style: italic;
}

body {
    background-size: fit;
    background-image: url(images/kaleidoscope.gif);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "nav nav nav" "main main main" "form form form" "footer footer footer";
}

header {
    display: none;
}

body nav {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    padding: 1.5em;
    padding-top: 1.5em;
    height: 3em;
    font-weight: bolder;
    text-decoration: none;
    border-top: 0em;
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0.5em;
}

a {
    color: white;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

nav>ul>li {
    position: relative;
    font-size: x-large;
}

nav ul ul {
    position: absolute;
    background-color: rgb(10, 10, 10);
    padding: 0;
    display: block;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
}

nav>ul>li:hover ul {
    opacity: 1;
    pointer-events: auto;
    display: block;
}

nav>ul>li>ul>li:hover a {
    background-color: rgb(19, 19, 19);
    display: block;
}

li {
    color: white;
}

.Blog {
    color: coral;
}

.Other {
    color: coral;
}

.myblogs {
    margin-left: 1em;
    grid-area: head;
}

main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "head head head head" "b1 b2 b3 b4";
    color: white;
    grid-area: main;
    width: 100vw;
    grid-gap: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bPost1 {
    grid-area: b1;
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1.5em;
    text-align: center;
}

.bPost2 {
    grid-area: b2;
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1.5em;
    text-align: center;
}

.bPost3 {
    grid-area: b3;
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1.5em;
    text-align: center;
}

.bPost4 {
    grid-area: b4;
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1.5em;
    text-align: center;
}

.blog section img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}