* {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

body {
    background-size: fit;
    background-image: url(kaleidoscope.gif);
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "nav nav nav" "main main main" "form form form" "footer footer footer"
}

header {
    background-color: rgb(17, 17, 17);
    color: white;
    padding: 20px;
    grid-area: header;
}