    * {
        margin: 0;
        padding: 0;
    }
    
    .index {
        background-color: black;
        overflow: auto;
        width: 540px;
        height: 180px;
        margin-left: 15em;
        margin-top: 15em;
        text-align: center;
    }
    
    .bloglink {
        overflow: auto;
        background-color: rgb(0, 0, 0);
        width: fit-content;
        height: fit-content;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        color: coral;
        text-align: center;
    }
    
    h1 {
        color: rgb(255, 255, 255);
        float: initial;
        display: block;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: xxx-large;
    }
    
    h2 {
        color: rgb(255, 231, 93);
        float: initial;
        display: block;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: xx-large;
        font-style: italic;
    }
    
    p {
        color: rgb(224, 224, 224);
        float: initial;
        display: block;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
    }
    
    body {
        background-size: fit;
        background-image: url(images/kaleidoscope.gif);
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
        grid-template-areas: "nav nav nav" "main main main" "form form form" "footer footer footer";
    }
    
    header {
        display: none;
    }
    
    body nav {
        background-color: rgb(10, 10, 10);
        color: rgb(255, 255, 255);
        font-family: 'Courier New', Courier, monospace;
        padding: 1.5em;
        padding-top: 1.5em;
        height: 3em;
        font-weight: bolder;
        text-decoration: none;
        border-top: 0em;
        grid-area: nav;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0.5em;
    }
    
    a {
        color: white;
    }
    
    nav ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
    }
    
    nav>ul>li {
        position: relative;
        font-size: x-large;
    }
    
    nav ul ul {
        position: absolute;
        background-color: rgb(10, 10, 10);
        padding: 0;
        display: block;
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in;
        pointer-events: none;
    }
    
    nav>ul>li:hover ul {
        opacity: 1;
        pointer-events: auto;
        display: block;
    }
    
    nav>ul>li>ul>li:hover a {
        background-color: rgb(19, 19, 19);
        display: block;
    }
    
    li {
        color: white;
    }
    
    .imageJoyal {
        margin-top: 7.5em;
        margin-left: 30em;
    }