* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    width: 100vw;
    height: 65px;
    text-align: center;
    grid-area: header;
    margin-bottom: 1em;
}

h1 {
    color: rgb(255, 255, 255);
    float: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

h2 {
    color: white;
    float: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-style: italic;
}

.portfolio {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100vw;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "square1 square2 square3 square4" "square5 square6 square7 square8";
    font-family: 'Courier New', Courier, monospace;
    color: coral;
    text-decoration: none;
}

.portfolio section {
    text-align: center;
    margin-top: 2.5em;
}

.link,
.link2,
.link3,
.link4,
.link5,
.link6,
.link7,
.link8 {
    color: coral;
}

.p1 {
    grid-area: square1;
}

.p2 {
    grid-area: square2;
}

.p3 {
    grid-area: square3;
}

.p4 {
    grid-area: square4;
}

.p5 {
    grid-area: square5;
}

.p6 {
    grid-area: square6;
}

p7 {
    grid-area: square7;
}

p8 {
    grid-area: square8;
}

body {
    background-size: fit;
    background-image: url(images/kaleidoscope.gif);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "nav nav nav" "main main main" "form form form" "footer footer footer";
}

header {
    display: none;
}

body nav {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    padding: 1.5em;
    padding-top: 1.5em;
    height: 3em;
    font-weight: bolder;
    text-decoration: none;
    border-top: 0em;
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0.5em;
}

a {
    color: white;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

nav>ul>li {
    position: relative;
    font-size: x-large;
}

nav ul ul {
    position: absolute;
    background-color: rgb(10, 10, 10);
    padding: 0;
    display: block;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
}

nav>ul>li:hover ul {
    opacity: 1;
    pointer-events: auto;
    display: block;
}

nav>ul>li>ul>li:hover a {
    background-color: rgb(19, 19, 19);
    display: block;
}

li {
    color: white;
}

.Projects {
    color: coral;
}